{% extends 'themes/visitor/base.html.twig' %}

{% block title %} recette {{recipeBaby.title}} {% endblock %}

{% block description %} recette {{recipeBaby.title}} {% endblock %}

{% block css %}
<style>
    .baby
    {
    background-image: url('{{asset('/images/dashboard2.jpg')}}');
    background-size:cover;
    background-position:center;
    }
</style>
{% endblock %}

{% block main %}

        
    <div class="baby">
        <div class="container">

         <h1 class="text-center bg-warning  display-5 my-5 p-2">{{recipeBaby.title}}</h1>
         <div class="border border-warning bg-light rounded shadow p-4 my-5">
			    {{recipeBaby.content|raw}}
         </div>
    
         
    
        </div>
    </div>
{% endblock %}