{% extends 'themes/visitor/base.html.twig' %}

{% block title %} recette {{recipeJus.title}} {% endblock %}

{% block description %} recette {{recipeJus.title}} {% endblock %}

{% block css %}
<style>
    .jus
    {
    background-image: url('{{asset('/images/dashboard2.jpg')}}');
    background-size:cover;
    background-position:center;
    }
</style>
{% endblock %}

{% block main %}

<div class="jus">      

        <div class="container">

         <h1 class="text-center text-light  bg-success display-5 my-5 p-2">{{recipeJus.title}}</h1>
         <div class="border border-success rounded bg-light shadow p-4 my-5">
			    {{recipeJus.content|raw}}
         </div>
    
         
    
        </div>
</div>
{% endblock %}