{% extends 'themes/visitor/base.html.twig' %}

{% block title %}
	recette
	{{recipeSalty.title}}
{% endblock %}

{% block description %}
	recette
	{{recipeSalty.title}}
{% endblock %}

{% block css %}
<style>
    .salty
    {
    background-image: url('{{asset('/images/dashboard2.jpg')}}');
    background-size:cover;
    background-position:center;
    }
</style>
{% endblock %}

{% block main %}
    <div class="salty">
		<div class="container">


			<h1 class="text-center text-light  bg-success display-5 my-5 p-2">{{recipeSalty.title}}</h1>
            <div class="border border-success rounded shadow p-4 my-5 bg-light">
			    {{recipeSalty.content|raw}}
            </div>
		</div>
    </div>
	{% endblock %}
