{% extends 'themes/visitor/base.html.twig' %}

{% block title %} recette {{recipeSweet.title}} {% endblock %}

{% block description %} recette {{recipeSweet.title}} {% endblock %}

{% block css %}
<style>
    .sweet
    {
    background-image: url('{{asset('/images/dashboard2.jpg')}}');
    background-size:cover;
    background-position:center;
    }
</style>
{% endblock %}

{% block main %}

        
    <div class="sweet">  
        <div class="container">


			<h1 class="text-center text-light bg-danger display-5 my-5 p-2">{{recipeSweet.title}}</h1>
            <div class="border border-danger rounded shadow p-4 my-5 bg-light">
			    {{recipeSweet.content|raw}}
            </div>
		</div>
    </div>
{% endblock %}