<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{# le titre de la page  #}
		<title>
			{% block title %}{% endblock %}
		</title>

		{# SEO #}
		<meta name="description" content="{% block description %}{% endblock %}">
		<meta name="keywords" content="{% block keywords %}{% endblock %}">

		{# logo onglet  #}

		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">

		{# font family #}
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

		{# stylesheet  #}
		<link rel="stylesheet" href="{{asset('assets/app.css')}}">

		{# Boostrap #}
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

		{# cdn font-awesome #}
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
	</head>
	<body>

		{# Navbar #}

		<nav class="navbar navbar-expand-lg navbar-light bg-light py-3">
			<div class="container-fluid ">
				<a class="navbar-brand text-success mx-2" href="{{path('visitor.welcome.index')}}"><img src="{{asset('/images/logo.png')}}" width="auto" height="80px"></a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class=" mx-3 collapse navbar-collapse" id="navbarNavDropdown">
					<ul class="navbar-nav">
						<li class="nav-item mx-3">
							<a class="nav-link active text-success" aria-current="page" href="#">Contact</a>
						</li>
						<li class="nav-item mx-3">
							<a class="nav-link text-success" href="#">Apropos</a>
						</li>
						<li class="nav-item dropdown mx-3">
							<a class="nav-link dropdown-toggle text-success" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								catégories
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
								<li>
									<a class="dropdown-item text-success" href="#">recettes salées</a>
								</li>
								<li>
									<a class="dropdown-item text-success" href="#">recettes sucrés</a>
								</li>
								<li>
									<a class="dropdown-item text-success" href="#">recettes bébé
									</a>
								</li>
								<li>
									<a class="dropdown-item text-success" href="#">jus nature
									</a>
								</li>
							</ul>
						</li>
					</ul>
					<ul class="navbar-nav ms-auto">

					{% if app.user %}

						<li class="nav-item">
							<a class="nav-link active text-danger mx-2 " aria-current="page" href="{{path('visitor.authentication.logout')}}">
							<i class="fa-solid fa-right-from-bracket fa-xl" style="color: #ff2600;"></i>
								{{app.user.firstName}} {{app.user.lastName}}
							</a>
						</li>
					
					{% else %}
						
						<li class="nav-item">
							<a class="nav-link active text-success mx-2 " aria-current="page" href="{{path('visitor.authentication.login')}}">Connexion</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active btn btn-success text-light mx-2 " aria-current="page" href="{{path('visitor.registration.register')}}">Inscription</a>
						</li>
					{% endif %}
					</ul>
				</div>
			</div>
		</nav>

		{# la partie spécifique de chaque page  #}

		{% block main %}{% endblock %}

		{# Footer #}

		<footer class="bg-success text-light p-3">
			<div class="d-flex justify-content-around align-items-center">
				<div>
					<h4>a propos</h4>
					<p>Le site healthy-food
						<br>
						vous propose
						<br>
						des recettes healthy
					</p>
				</div>
				<div>
					<h4>contactez nous</h4>
					<p>
						Email:healthy-food@gmail.com
						<br>
						0766725659
					</p>

				</div>
				<div>
					<h4>suivez-nous</h4>
					<div class="d-flex flex-column gap-2 justify-content-around align-items-center">
						<a target="_blank" href="https://twitter.com">
							<i class="fa-brands fa-twitter" style="color: #ffffff;"></i>
						</a>
						<a target="_blank" href="https://www.facebook.com">
							<i class="fa-brands fa-facebook" style="color: #ffffff;"></i>
						</a>
						<a target="_blank" href="https://www.instagram.com">
							<i class="fa-brands fa-instagram" style="color: #ffffff;"></i>
						</a>
					</div>
				</div>
				<div>
					<a href="{{path('visitor.welcome.index')}}"><img src="{{asset('/images/logo-pied-de-page.png')}}" height="200px" width="auto"></a>
				</div>
			</div>
			<div class="text-center color-light">© 2023 copyright : healthy-food</div>
		</footer>


		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
	</body>
</html>
