{% extends 'themes/visitor/base.html.twig' %}

{% block title %}connectez-vous
{% endblock %}

{% block description %}page de Connexion
{% endblock %}

{% block keywords %}Connexion, healthy, recettes
{% endblock %}

{% block main %}

	<div class="register rows pt-3">

		<div class="col-lg-5 col-sm-8 col-md-8  mx-auto my-3 border bg-light p-3 rounded shadow text-success">

			<h2 class="text-center text-success my-3">Identifiez-vous</h2>

			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{% for message in app.flashes('success') %}

				<div class="alert alert-success alert-dismissible fade show text-center" role="alert">
					{{message}}
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>

			{% endfor %}

			<form method="POST">


				<div class="my-3">
					<label for="inputEmail">Email</label>
					<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control shadow" autocomplete="email" required autofocus>
				</div>
				<div class="my-3">
					<label for="inputPassword">Mot de passe
					</label>
					<input type="password" name="password" id="inputPassword" class="form-control shadow" autocomplete="current-password" required>
				</div>

				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				<div class="d-flex justify-content-between align-items-center my-3">

					<label>
						<input type="checkbox" name="_remember_me" class="text-success" checked>
						se souvenir de moi
					</label>
					<a href="{{path('visitor.authentication.forgot_password_request')}}" class="text-success">
						Mot de passe oubliée ?</a>

				</div>

				<div class="my-3">
					<input type="submit" class="btn btn-success" value="connecter">
				</div>


			</form>

			<div class="mt-4">
				<hr>
				<p class="text-secondary text-center">
					Nouveau chez Healthy-food ?
				</p>
				<a href="{{path('visitor.registration.register')}}" class="text-decoration-none ">
					<div class="row">
						<button class="col-7 mx-auto  text-success">créer un compte
						</button>
					</div>
				</a>
			</div>
		</div>
	</div>

{% endblock %}
