<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta
		name="viewport" content="width=device-width, initial-scale=1.0">

		{# le titre de la page  #}
		<title>
			{% block title %}{% endblock %}
		</title>


		{# OFF SEO #}
		<meta
		name="robots" content="noindex, nofollow">

		{# logo onglet  #}

		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta
		name="theme-color" content="#ffffff">

		{# font family #}
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link
		href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

		{# stylesheet  #}
		<link
		rel="stylesheet" href="{{asset('assets/app.css')}}">

		{# Boostrap #}
		<link
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

		{# cdn font-awesome #}
		<link
		rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>

		{# stylesheet template dashboard #}

		<style>

			.bi {
				display: inline-block;
				width: 1rem;
				height: 1rem;
			}

			/*
            * Sidebar
            */

			@media(min-width: 768px) {
				.sidebar .offcanvas-lg {
					position: -webkit-sticky;
					position: sticky;
					top: 48px;
				}
			}

			.sidebar .nav-link {
				font-size: 0.875rem;
				font-weight: 500;
			}

			.sidebar .nav-link.active {
				color: #2470dc;
			}

			.sidebar-heading {
				font-size: 0.75rem;
			}

			/*
            * Navbar
            */

			.navbar-brand {
				padding-top: 0.75rem;
				padding-bottom: 0.75rem;
				background-color: rgba(0, 0, 0, 0.25);
				box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
			}

			.navbar .form-control {
				padding: 0.75rem 1rem;
			}
		</style>

		{# editeur de texte tinyMCE #}
		{% block tinyMCE %}{% endblock %}

		{# jquerry #}
		{% block jquerry %}
		
		{% endblock %}

		{# dataTables #}
			{% block dataTables %}
		
			{% endblock %}

		{# css #}

			{% block css %}{% endblock %}
	
 


	</head>
	<body class="h-100">

		<header class="navbar sticky-top bg-light flex-md-nowrap p-0 " data-bs-theme="dark">
			<a href="{{path('admin.home.index')}}" class="mx-4 p-3"><img src="{{asset('images/logo.png')}}" title="logo" alt="un bol healthy" width="auto" height="80px"></a>
			<ul class="navbar-nav flex-row d-md-none">
				<li class="nav-item text-nowrap">
					<button class="nav-link px-3 text-success" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
						<i class="fa-solid fa-bars"></i>
					</button>
				</li>
			</ul>
		</header>


		<div class="container-fluid">
			<div
				class="row">

				{# Sidebar #}
				<div class="sidebar  col-md-3 col-lg-2 p-0 bg-body-tertiary ">
					<div class="offcanvas-md offcanvas-end bg-success h-100" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
						<div class="offcanvas-header">
							<button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Close"></button>
						</div>
						<div class="offcanvas-body d-md-flex flex-column p-2  pt-lg-3 overflow-y-auto">
							<ul class="nav flex-column text-light py-4 mt-4">

								<li class="nav-item mb-4 ">
									<a class=" px-2 fs-5 nav-link d-flex align-items-center gap-3 active text-light " aria-current="page" href="">
										<i class="fa-solid fa-user fa-md" style="color: #ffffff;"></i>
										{{app.user.firstName}} {{app.user.lastName}} 
									</a>
								</li>
								<li class="nav-item ">
									<a class=" px-2 nav-link d-flex align-items-center gap-3 active text-light " aria-current="page" href="">
										<i class="fa-solid fa-house-chimney" style="color: #ffffff;"></i>
										Tableau de board
									</a>
								</li>
								
								<li class="nav-item">
									<a class=" px-2 nav-link d-flex align-items-center gap-3 text-light" href="{{path('admin.recipes.index')}}">
										<i class="fa-solid fa-utensils" style="color: #ffffff;"></i>
										Les recettes
									</a>
								</li>
								<li class="nav-item">
									<a class=" px-2  nav-link d-flex align-items-center gap-3 text-light" href="">
										<i class="fa-solid fa-hashtag"></i>
										Tags
									</a>
								</li>
								<li class="nav-item">
									<a class=" px-2 nav-link d-flex align-items-center gap-3 text-light" href="{{path('admin.message.index')}}">
										<i class="fa-regular fa-message fa-flip-horizontal" style="color: #ffffff;"></i>
										Messages reçus 
									</a>
								</li>
								<li class="nav-item">
									<a class=" px-2 nav-link d-flex align-items-center gap-3 text-light" href="{{path('admin.user.index')}}">
										<i class="fa-solid fa-users"></i>
										Utilisateurs
									</a>
								</li>
								<li class="nav-item">
									<a class=" px-2 nav-link d-flex align-items-center gap-3 text-light" href="">
										<i class="fa-solid fa-comment"></i>
										Commentaires
									</a>
								</li>
							</ul>

							<hr class="my-5 text-light">

							<ul class="nav flex-column mb-auto py-4">
								<li class="nav-item">
									<a class=" px-2 nav-link d-flex align-items-center gap-3 text-light" href="{{path('admin.profile.index')}}">
										<i class="fa-solid fa-user"></i>
										Mon profil
									</a>
								</li>
								<li class="nav-item">
									<a class=" px-2 nav-link d-flex align-items-center gap-3 text-light" href="{{path('admin.setting.index')}}">
										<i class="fa-solid fa-gear"></i>
										Paramètres
									</a>
								</li>
								<li class="nav-item">
									<a class=" px-2 nav-link d-flex align-items-center gap-3 text-light" href="">
										<i class="fa-solid fa-outdent"></i>
										Espace utilisateur
									</a>
								</li>
								<li class="nav-item">
									<a class=" px-2 nav-link d-flex align-items-center gap-3 text-light" href="{{path('visitor.welcome.index')}}">
										<i class="fa-solid fa-rotate-left"></i>
										Retour au site
									</a>
								</li>
								<li class="nav-item">
									<a class=" px-2 nav-link d-flex align-items-center gap-3 text-light" href="{{path('visitor.authentication.logout')}}">
										<i class="fa-solid fa-right-from-bracket"></i>
										Déconnexion
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>

				{# Le contenu spécifique à chaque page. #}
				<main class="col-md-9 ms-sm-auto  col-lg-10 p-0 ">
				 {% block main %}{% endblock %}
					</main>
				</div>

			</div>

			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
		</body>
	</html>
