{% extends 'themes/user/base.html.twig' %}

{% block title %}Modifier le mot de passe  de
	{{app.user.firstName}}
	{{app.user.lastName}}
{% endblock %}

{% block main %}

<div class=" container h-100 profilePassword">
	<div class="row py-1 ">
		<div class="col-lg-8 border bg-body-secondary p-3 rounded shadow my-5 mx-auto">
            <h1 class="text-center text-success display-5 my-3"> Modifier votre mot de passe </h1>

                {{ form_start(passwordForm) }}

                    <div class="my-3">
                        <label for="edit_password_form_currentPassword" class="text-success">Votre mot de passe actuel</label>
                        <div class="text-danger">{{ form_errors(passwordForm.currentPassword) }}</div>
                        {{ form_widget(passwordForm.currentPassword,{'attr':{'class':'form-control'}}) }}
                    </div>
                    <div class="my-3">
                        <label for="edit_password_form_password_first" class="text-success">Votre nouveau mot de passe </label>
                        <div class="text-danger">{{ form_errors(passwordForm.password.first) }}</div>
                        {{ form_widget(passwordForm.password.first,{'attr':{'class':'form-control','placeholder':'Au moins 12 caractéres'}}) }}
                    </div>
                    <div class="my-3">
                        <label for="edit_password_form_password_second" class="text-success">Votre nouveau mot de passe </label>
                        <div class="text-danger">{{ form_errors(passwordForm.password.second) }}</div>
                        {{ form_widget(passwordForm.password.second,{'attr':{'class':'form-control'}}) }}
                    </div>
                    <div class="my-3">
                        <input formnovalidate type="submit" value="modifier" class='btn btn-success'>
                    </div>
               
                {{ form_end(passwordForm) }}
		</div>
    </div>
</div>    
{% endblock %}



