{% extends "themes/visitor/base.html.twig" %}

{% block title %}
	Healthy-food
{% endblock %}

{% block description %}
	Recettes de plats sains sucrés,salés et bébé : Se régaler et surtout se faire plaisir sans culpabiliser !
{% endblock %}

{% block keywords %}
	recettes, healthy, sain, sucrés, salés, bébé ,jus
{% endblock %}

{% block main %}
	<main class="index">
		<div>
			<img src="{{asset('/images/accueil2.jpg')}}" class="img-fluid" title="image d'accueil" alt="une salade variée et complet">
		</div>
		<div class="container">
			<div class=" row row-cols-1 row-cols-md-2 g-5 py-4">
				<div class="col card-recette">
					<div class="card border border-success shadow">

						<img src="{{asset('/images/recette_salées.jpg')}}" class="card-img-top" title="recette salées" alt="un plat salée sain et healthy ">
						<div class="card-body">
							<h4 class="card-title text-success">Recette salées
							</h4>
							<p class="card-text">Découvrir toutes nos recettes salées en détails.</p>
							<a href="{{path('visitor.recipes.salty')}}"
								<button type="button" class="btn btn-success">voir les recettes
								</button>
							</a>
						</div>
					</div>
				</div>
				<div class="col card-recette">
					<div class="card border-success shadow">
						<img src="{{asset('/images/recette_sucrées.jpg')}}" class="card-img-top" title="recette sucrées" alt="un plat sucrée sain et healthy ">
						<div class="card-body">
							<h4 class="card-title text-success">Recettes sucrées</h4>
							<p class="card-text">Découvrir toutes nos recettes sucrées en détails..</p>
							<a href="{{path('visitor.recipes.sweet')}}">
								<button type="button" class="btn btn-danger">voir les recettes
								</button>
							</a>

						</div>
					</div>
				</div>
				
				<div class="col card-recette">
					<div class="card border-success shadow">
						<img src="{{asset('/images/recette_bebe.jpg.webp')}}" class="card-img-top" title="recette bébé" alt="un plat pour bébé sain et healthy ">
						<div class="card-body">
							<h4 class="card-title text-success">Recttes Bébé</h4>
							<p class="card-text">Découvrir toutes nos recettes Bébé en détails.</p>
							<a href="{{path('visitor.recipes.baby')}}">
								<button type="button" class="btn btn-warning">voir les recettes
								</button>
							</a>
						</div>
					</div>
				</div>
                <div class="col card-recette">
					<div class="card border-success shadow">
						<img src="{{asset('images/Jus_bio.jpg')}}" class="card-img-top" title="jus nature" alt="une variéte des jus natures ">
						<div class="card-body">
							<h4 class="card-title text-success">jus naturel
							</h4>
							<p class="card-text">Découvrir toutes nos jus nature en détails..</p>
							<a href="{{path('visitor.recipes.jus')}}">
								<button type="button" class="btn btn-success">voir les recettes
								</button>
							</a>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</main>
{% endblock %}
